.flip-card-inner {
    position: relative;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
}

.flip-card-front,
.flip-card-back,
.flip-card-inner {
    width: 100%;
    height: 100%;
}

.flip-card {
    width: 963px;
    height: 564px;
}

.flip-card-front {
    background-color: mediumpurple;
    color: papayawhip;

}

.flip-card-back {
    background-color: antiquewhite;
    transform: rotateY(180deg);
    color: darkorange;
}

.flip-card-inner:hover {
    transform: rotateY(180deg);
}

.flip-card-inner {
    transition: transform 0.5s;
    transform-style: preserve-3d;
}
