*{
/*
margin:0;

padding:0;

 */
 box-sizing: border-box;
 list-style:none;
}
img{


}
.img-start {
  border: 10px solid mediumpurple;
 height:300px;
 width:500px;
 }

#img-master{
 border: 10px solid mediumpurple;
 height:500px;
 width:500px;
}
.relative{
 border: 10px solid yellow;
 height:300px;
 width:500px;
}
.absolute{
 border: 10px solid gray;
 height:300px;
 width:500px;
}